.people-card {
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
}

.people-card__button-add-person {
  width: 100px;
  height: 100px;
  font-size: 1rem;
  border-radius: 50%;
  position: fixed;
  bottom: 50px;
  right: 50px;
  color: #eeeeee;
  border: none;
  background: linear-gradient(#e66465, #9198e5);
  font-family: monospace, Arial, Helvetica, sans-serif;
  cursor: pointer;
}