@import 'shared/styles/colors.scss';
@import 'shared/styles/font.scss';

.people-card {
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
}

.people-card__button-add-person {
  width: 100px;
  height: 100px;
  font-size: 1rem;
  border-radius: 50%;
  position: fixed;
  bottom: 50px;
  right: 50px;
  color: $darkWhite;
  outline: 0;
  border: none;
  background: linear-gradient($pink, $blue);
  font-family: $font-text;
  cursor: pointer;
}

.people-card__people-list {
  display: flex;
  flex-wrap: wrap; 
}