@import 'shared/styles/colors.scss';
@import 'shared/styles/font.scss';

.person-card {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0px 15px -3px rgba(0, 0, 0, 0.1);
  width: 300px;
  min-height: 300px;
  margin-right: 30px;
  position: relative;
  min-height: 70vh;
}

.person-card__name {
  display: flex;
  height: 60px;
  padding: 10px;
  border-bottom: 2px solid $lightBlue;
  text-align: start;
  letter-spacing: 2px;
}

.person-card_button-add-gitf {
  outline: 0;
  text-align: center;
  font-size: 1rem;
  border-radius: 50px;
  font-family: monospace, Arial, Helvetica, sans-serif;
  background-color: $lightBlue;
  cursor: pointer;
  border: 1px solid $lightBlue;
  color: $white;
  cursor: pointer;
}

.person-card__button-delete-person {
  background: $lightRed;
  color: $white;
  padding: 8px 12px;
  font-size: 1rem;
  border-radius: 50px;
  border: none;
  font-family: $font-text;
  cursor: pointer;
}

.person-card__input {
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-family: $font-text;
  outline: 0;
  &:focus {
    border: 2px solid $lightBlue;
  }
}

.person-card__navigation-buttons {
  display: flex;
  margin-top: auto;
  padding: 20px 10px;
  justify-content: space-between;
}

.person-card__gifts-list {
  display: flex;
  flex-direction: column;
}