.person-card {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0px 15px -3px rgba(0, 0, 0, 0.1);
  width: 300px;
  min-height: 300px;
  margin-right: 30px;
  position: relative;
  min-height: 70vh;
}

.person-card__name {
  display: flex;
  height: 60px;
  padding: 10px;
  border-bottom: 2px solid lightblue;
  text-align: start;
  letter-spacing: 2px;
}

.person-card__gifts {
  list-style: none;
  display: block;
  flex-direction: column;
  min-height: 300px;
  min-width: 200px;
}

.person-card__gift {
  display: block;
  border-bottom: 1px solid black;
  color: gray;
  justify-content: flex-start;
  font-size: 1.2rem;
  height: 70px;
}

.person-card__gift-name {
  margin-left: 10px;
  font-size: 1.4rem;
}

.person-card__edit-gift {
  margin-left: 5px;
}

.person-card__button-delete-gift {
  float: right;
}

.person-card_button-add-gitf {
  outline: 0;
  text-align: center;
  font-size: 1rem;
  border-radius: 50px;
  font-family: monospace, Arial, Helvetica, sans-serif;
  background-color: lightblue;
  cursor: pointer;
  border: 1px solid lightblue;
  color: #eeeeee;
  cursor: pointer;
}

.person-card__button-delete-person {
  background: #e66465;
  color: #ffffff;
  padding: 8px 12px;

  font-size: 1rem;
  border-radius: 50px;
  border: none;
  font-family: monospace, Arial, Helvetica, sans-serif;
}

.person-card__button-edit-person {
  margin-left: 10px;
}

.person-card__input {
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-family: monospace, Arial, Helvetica, sans-serif;
  outline: 0;

  &:focus {
    border: 2px solid lightblue;
  }
}